<div class="card">
    <div class="card-header">
        <h3>Planting From Seeds : How to Plant Spinach Seeds</h3>
        <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right"
        (click)="tutorialList()">
            <i class="icofont icofont-arrow-left" style="color: #ffffff;"></i> Back
          </button>
        <div class="container">
            <div class="row">
                <div class="player-wrapper" style="max-width: auto;" >
                    <vg-player>
                    <video #media [vgMedia]="media" id="singleVideo" preload="auto" controls>
                        <source src="../../../../../assets/videos/videoplayback.mp4" type="video/mp4"
                        style="width: 100%;">
                    </video>
                    </vg-player>
                </div>
            </div>
        
            <div class="row">
                    <span class=""><i class="icofont icofont-eye-alt vidText"></i>51,444 viewsMar 28, 2010</span>
                    <span class=""><i class="icofont icofont-like vidText"></i>73</span>
                    <span class=""><i class="icofont icofont-thumbs-down vidText"></i>1</span>
                    <span class=""><i class="icofont icofont-share-alt vidText"></i>SHARE</span>
            </div>
        </div>
        
    </div>
    <div class="card-body">
      <ul class="media-list">
        <li class="media">
          <div class="media-left">
            <a href="javascript:;">
              <img class="media-object img-radius comment-img" src="assets/images/avatar-1.jpg" alt="Generic placeholder image">
            </a>
          </div>
          <div class="media-body">
            <h6 class="media-heading">Sortino media<span class="f-12 text-muted m-l-5">Just now</span></h6>
            <div class="stars-example-css review-star">
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
            </div>
            <p class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            <div class="m-b-25">
              <span><a href="javascript:;" class="m-r-10 f-12">Reply</a></span><span><a href="javascript:;" class="f-12">Edit</a> </span>
            </div>
            <hr>
            <!-- Nested media object -->
            <div class="media mt-2">
              <a class="media-left" href="javascript:;">
                <img class="media-object img-radius comment-img" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h6 class="media-heading">Larry heading <span class="f-12 text-muted m-l-5">Just now</span></h6>
                <div class="stars-example-css review-star">
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                </div>
                <p class="m-b-0"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                <div class="m-b-25">
                  <span><a href="javascript:;" class="m-r-10 f-12">Reply</a></span><span><a href="javascript:;" class="f-12">Edit</a> </span>
                </div>
                <hr>

              </div>
            </div>

          </div>
        </li>
        <!-- Nested media object -->
        <div class="media mt-2">
          <div class="media-left">
            <a href="javascript:;">
              <img class="media-object img-radius comment-img" src="assets/images/avatar-1.jpg" alt="Generic placeholder image">
            </a>
          </div>
          <div class="media-body">
            <h6 class="media-heading">Cedric Kelly<span class="f-12 text-muted m-l-5">Just now</span></h6>
            <div class="stars-example-css review-star">
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
            </div>
            <p class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            <div class="m-b-25">
              <span><a href="javascript:;" class="m-r-10 f-12">Reply</a></span><span><a href="javascript:;" class="f-12">Edit</a> </span>
            </div>
            <hr>
          </div>
        </div>
        <div class="media mt-2">
          <a class="media-left" href="javascript:;">
            <img class="media-object img-radius comment-img" src="assets/images/avatar-4.jpg" alt="Generic placeholder image">
          </a>
          <div class="media-body">
            <h6 class="media-heading">Larry heading <span class="f-12 text-muted m-l-5">Just now</span></h6>
            <div class="stars-example-css review-star">
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
            </div>
            <p class="m-b-0"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            <div class="m-b-25">
              <span><a href="javascript:;" class="m-r-10 f-12">Reply</a></span><span><a href="javascript:;" class="f-12">Edit</a> </span>
            </div>
            <hr>
            <!-- Nested media object -->
            <div class="media mt-2">
              <div class="media-left">
                <a href="javascript:;">
                  <img class="media-object img-radius comment-img" src="assets/images/avatar-3.jpg" alt="Generic placeholder image">
                </a>
              </div>
              <div class="media-body">
                <h6 class="media-heading">Colleen Hurst <span class="f-12 text-muted m-l-5">Just now</span></h6>
                <div class="stars-example-css review-star">
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                  <i class="icofont icofont-star"></i>
                </div>
                <p class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                <div class="m-b-25">
                  <span><a href="javascript:;" class="m-r-10 f-12">Reply</a></span><span><a href="javascript:;" class="f-12">Edit</a> </span>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="media mt-2">
          <div class="media-left">
            <a href="javascript:;">
              <img class="media-object img-radius comment-img" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
            </a>
          </div>
          <div class="media-body">
            <h6 class="media-heading">Mark Doe<span class="f-12 text-muted m-l-5">Just now</span></h6>
            <div class="stars-example-css review-star">
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
              <i class="icofont icofont-star"></i>
            </div>
            <p class="m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            <div class="m-b-25">
              <span><a href="javascript:;" class="m-r-10 f-12">Reply</a></span><span><a href="javascript:;" class="f-12">Edit</a> </span>
            </div>
            <hr>
          </div>
        </div>
      </ul>
      <div class="md-float-material d-flex">
        <div class="md-group-add-on p-relative col-lg-12">
          <div class="input-group input-group-button input-group-primary">
            <span class="input-group-prepend"><label class="input-group-text"><i class="icofont icofont-comment"></i></label></span>
            <input type="text" class="form-control" placeholder="Write Comment">
            <span class="input-group-append"><label class="input-group-text">
                           <button type="button" class="btn btn-primary"><i class="icofont icofont-plus"></i>note</button>
            </label></span>
          </div>
        </div>
      </div>
    </div>
  </div>